@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  font-family:'Poppins',sans-serif;
  background:#050816;
  color:white;
}

*{
  box-sizing:border-box;
}
@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(-4px, -10px);
  }

  50% {
    transform: translate(0px, -18px);
  }

  75% {
    transform: translate(4px, -10px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
html,
body {
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}